<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.colorfulweather">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ColorfulWeather">
        <service
            android:name=".WeatherSettings.MyService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".WeatherSettings.WebViewActivity" />

        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="key" />

        <activity android:name=".WeatherRainfall.RainfallActivity" />
        <activity android:name=".WeatherAir.AirContextActivity" />
        <activity android:name=".WeatherDays.DaysContextActivity" />
        <activity android:name=".WeatherArea.ChooseAreaActivity" />
        <activity android:name=".WeatherSettings.SettingsActivity" />
        <activity
            android:name=".WeatherInfo.MainActivity"
            android:theme="@style/MainActivityTheme"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>